.arrowButton {
	position: absolute;
	top: 50%;
	bottom: 0;
	z-index: 1;
	font-size: 14px;
	border: none;
	outline: none;
	color: white;
	padding: 0;
	height: 40px;
	width: 40px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(31, 30, 30, 0.5);
	border-radius: 50%;
	cursor:pointer;
}

@media only screen and (max-width: 768px) {
	.arrowButton:not(.showOnMobile) {
		display: none;
	}
}

.right {
	right: 1px;
}

.right > svg {
	transform: rotate(-90deg);
}

.left {
	left: 1px;
}
.left > svg {
	transform: rotate(-270deg);
}


@media only screen and (min-width: 768px) {
	.arrowButton {
		display: flex;
	}

	.left {
		left: 5px;
	}

	.right {
		right: 5px;
	}
}