.badgeIndex {
    background-color: #1F1E1E;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    opacity: .8;
    font-size: 10px;
}

@media only screen and (min-width: 768px) {
	.badgeIndex {
		font-size: 14px;
	}
}

@media only screen and (min-width: 1024px) {
	.badgeIndex {
		font-size: 16px;
	}
}